<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About</title>
  <link rel="stylesheet" href="/static/styles.css">
  <link rel="icon" type="image/png" href="/static/favicon.png">
</head>
<body>
  <header>
        <div class="wave-container">
            <h1>ME/CFS Program Finder</h1>
            <p class="tagline"></p>
            <div class="wave"></div>
        </div>
    </header>
    
    <nav class="main-nav">
        <div class="nav-container">
            <a href="/" class="nav-link">Home</a>
            <a href="/about" class="nav-link">About</a>
            <a href="/brain-retraining" class="nav-link">What is Brain Retraining</a>
            <a href="/my-story" class="nav-link">My Recovery Story</a>
            <a href="/contact" class="nav-link">Contact</a>
            <a href="/survey" class="nav-link start-survey">Start Survey</a>
        </div>
    </nav>
  <div class="container">
        <section class="intro">
            <h2>About The Recommender</h2>
            
            <p>
              The recommender system compares your survey answers with text from each program’s website (full list of text sources for each program <a href="/program-text-sources" style="color: var(--primary-green);">here</a>). After calculating a similarity score for content and tone, it presents a ranked list. I chose this method because in my experience, implementing brain retraining/nervous system practices is easier and more effective if it resonates with you.
            </p>

            <p>
              This service will always be free to use, and I will never accept money to promote one program above another. 
              My goal is to provide the best recommendation I can based on your input.
            </p>

            <p>The full code for this project is available at <a href="https://github.com/jkberry07/cfs-rec-sys" target="_blank" style="color: var(--primary-green);">this GitHub repository</a>.</p>

            <h2>About Me</h2>
              <p>My name is Kendall Berry, I am a Physics PhD with a research background in computational neuroscience.
              I had CFS for a total of 3 years before fully recovering (read more about me and my recovery story <a href="/my-story" style="color: var(--primary-green);">here</a>). 
              Brain retraining was crucial to my recovery, and this project
              is my way of giving back to the ME/CFS community.</p>

        </section>
  </div>  
    <footer>
        <p>Disclaimer: The content in and throughout this website is for informational and educational purposes only, and is not a substitute for medical diagnosis, treatment or advice.</p>
        <p><a href = "/privacy" style="color: var(--light-green);">Privacy Statement</a> | <a href = "/contact" style="color: var(--light-green);">Contact</a></p>
      </footer>

</body>
</html></html>