<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ME/CFS Program Finder</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="icon" type="image/png" href="/static/favicon.png">
</head>

<body>
    <header>
        <div class="wave-container">
            <h1>ME/CFS Recovery Pathfinder</h1>
            <p class="tagline"></p>
            <div class="wave"></div>
        </div>
    </header>
    
    <nav class="main-nav">
        <div class="nav-container">
            <a href="/" class="nav-link">Home</a>
            <a href="/about" class="nav-link">About</a>
            <a href="/brain-retraining" class="nav-link">What is Brain Retraining</a>
            <a href="/my-story" class="nav-link">My Recovery Story</a>
            <a href="/contact" class="nav-link">Contact</a>
            <a href="/survey" class="nav-link start-survey">Start Program Finder</a>
        </div>
    </nav>
    <div class="container">
        <section class="intro">
            <h2>What is Brain Retraining/Nervous System Regulation?</h2>
            <p>Brain retraining and nervous system regulation programs operate under the theory that ME/CFS and related conditions
                 are driven by (but not solely caused by) dysfunction of the autonomic nervous system. In a nutshell, it 
                 posits that the body’s balance between sympathetic (fight or flight) and parasympathetic (rest and digest) 
                 is unstable, preventing the body from recovering from things that other people recover from, or from tolerating 
                 the same level of exertion or environmental stressors that other people can tolerate.  To be clear, 
                 this hypothesis does not say that the disease is psychological, rather that the physiological issues can be at 
                 least partly addressed by working on the autonomic nervous system. The theory suggests that the autonomic nervous system may be overloaded with stress, impairing the body’s ability to resolve existing problems. By improving the function of the autonomic nervous system, the body can more readily deal with whatever physiological issues are present.

</p>
             <p>Therefore, nervous system regulation aims to do just what it says, regulate the autonomic nervous system 
                so the body operates in a balanced way. It encompasses both bottom-up (body-focused) and top-down (mind-focused) 
                exercises. The bottom-up practices can be things like breathing exercises, vagus nerve toning or somatics. 
                Examples of top-down practices are meditation, mindfulness, and brain retraining. The goal of brain retraining 
                is to help you to establish a more relaxed baseline and to react to things in a more calm and confident way. The idea 
                is to recognize unhelpful patterns of thinking, then intentionally choose a healthier response 
                (this is usually what a program means when it talks about “rewiring the brain”).
</p>
            <p>Functionally, brain retraining often looks like this:</p>  
            <li>Take a break from whatever you’re doing or thinking about.</li> 
            <li>Make a choice to respond differently.</li> 
            <li>Do a visualization.</li> 
            <p>Each program teaches this process its own way, with slightly different steps, different focuses, and 
                a different flavor. The steps will be a little different, for example it might include a 
                breathing exercise or affirmations, sometimes instead of a visualization. The frequency and length of the suggested practices vary by program. Which is 
                the best way to do it? That would be a wonderful topic for a research study, and I  hope it is done someday. 
                Likely, it depends on the person, your individual preferences and goals. The way you implement 
                the practices is ultimately up to you. And because brain retraining is individualized, it can be a powerful 
                tool for personal growth. To me, the benefit of these kind of exercises is their potential to benefit your 
                physical and mental health regardless of whether it leads to a full recovery.</p>
            
             <p>After completing the survey and choosing your shortlist, I encourage you to explore the programs’ websites 
                and learn how they talk about brain retraining.</p>
        </section>
        <section class="intro">      
        <h3>Some Helpful Links</h3>
            <p>Here are some explanations I found helpful, including from a few of the programs. If any of these programs are on your shortlist, this could also be a good way to see if their approach and philosophy resonate with you.</p>
                <li>See "What is nervous system regulation work?" and "Further thoughts: A false dichotomy need not exist." below 
                    <a href="https://healwithliz.com/hope-rooted-in-biology-what-helped-us-recover-from-me-cfs/" target="_blank" style="color: var(--primary-green);">this article</a> written by a group of people who recovered from ME/CFS and Long COVID.</li>
                <li><a href="https://www.re-origin.com/articles/nervous-system-regulation-techniques" target="_blank" style="color: var(--primary-green);">An article from re-origin.</a></li>
                <li>The free e-book “How Healing Happens” (access by signing up for Primal Trust's newsletter <a href="https://www.primaltrust.org/newsletter-how-healing-happens-2025/" target="_blank" style="color: var(--primary-green);">here</a>).</li>
                <li><a href="https://ansrewire.com/the-science/" target="_blank" style="color: var(--primary-green);">Dan Neuffer's take on the theory behind the disease</a>, founder of ANS Rewire. His book, CFS Unravelled, goes into more detail.</li>
            </p>
            <br>
            <h3>Peer-Reviewed Research</h3>
            <p>The peer-reviewed research on brain retraining is limited as of this writing, but here are a few studies.
                <li><a href="https://www.mcpiqojournal.org/article/S2542-4548(23)00028-0/fulltext#%20" target="_blank" style="color: var(--primary-green);">Cohort of 23 Long COVID patients</a>.
                Easier to read summary <a href="https://www.rebeccatolin.com/blog/long-covid-study" target="_blank" style="color: var(--primary-green);">here</a> from the Be Your Own Medicine program.</li>
                <li><a href="https://www.tandfonline.com/doi/full/10.1080/17482631.2023.2223420#d1e786" target="_blank" style="color: var(--primary-green);"> A narrative study based on interviews of 14 people who had ME/CFS and recovered</a>.</li>
                <li>The Gupta program has done a few studies, including on <a href="https://pmc.ncbi.nlm.nih.gov/articles/PMC10886399/" target="_blank" style="color: var(--primary-green);">ME/CFS and other chronic conditions</a>,
                    <a href ="https://onlinelibrary.wiley.com/doi/10.1155/2023/7068326" target="_blank" style="color: var(--primary-green);">Long COVID</a>, 
                    and <a href="https://guptaprogram.com/wp-content/uploads/2025/04/current-psychology-fibromyalgia-2025.pdf" target="_blank" style="color: var(--primary-green);">fibromyalgia</a>.</li>
            </p>
            <br>
            <h3>Mindfulness and Meditation</h3>
            <p>While there is a need for more studies about brain retraining, the benefits of mindfulness more generally is 
                widely accepted in the medical community. For example, see 
                <a href="https://www.mayoclinic.org/healthy-lifestyle/consumer-health/in-depth/mindfulness-exercises/art-20046356" target="_blank" style="color: var(--primary-green);">this article</a> 
                from the Mayo Clinic or <a href="https://www.apa.org/topics/mindfulness/meditation" target="_blank" style="color: var(--primary-green);">this article</a> from the American Psychological Association.
            </p>
        </section>
        </div>
        <footer>
        <p>Disclaimer: The content in and throughout this website is for informational and educational purposes only, and is not a substitute for medical diagnosis, treatment or advice.</p>
        <p><a href = "/privacy" style="color: var(--light-green);">Privacy Statement</a> | <a href = "/contact" style="color: var(--light-green);">Contact</a></p>
    </footer>
    </body>