<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ME/CFS Program Finder</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="icon" type="image/png" href="/static/favicon.png">
</head>
<body>
    <header>
        <div class="wave-container">
            <h1>ME/CFS Program Finder</h1>
            <p class="tagline"></p>
            <div class="wave"></div>
        </div>
    </header>
    
    <nav class="main-nav">
        <div class="nav-container">
            <a href="/" class="nav-link">Home</a>
            <a href="/about" class="nav-link">About</a>
            <a href="/brain-retraining" class="nav-link">What is Brain Retraining</a>
            <a href="/my-story" class="nav-link">My Recovery Story</a>
            <a href="/contact" class="nav-link">Contact</a>
            <a href="/survey" class="nav-link start-survey">Start Survey</a>
        </div>
    </nav>
    
    <div class="container">
        <section class="intro">
            <h2>Welcome!</h2>
            <p>This site is intended to help people with ME/CFS or related chronic conditions find a brain retraining/nervous system regulation program that fits their life, values, and goals.</p>
            
            <p>Brain retraining/nervous system regulation programs have helped many people (including myself) improve and even recover. There are a lot of programs out there, though, and choosing one can be overwhelming. This site is designed to make that process easier. </p>
            
            <p>Before taking the survey to generate the recommendations, <b>a few notes of advice</b>. Those who see improvement using brain retraining and nervous system regulation truly commit to doing this work. And it is work. It can also be very rewarding on a deeply personal level. Brain retraining/nervous system regulation involves a lot of self-reflection and inner work, so it helps to find a program that resonates with how you think about yourself, your life, and your values. <b>My primary advice is to choose a program that you believe will be good for your life regardless of recovery.</b> And finally, make any practices you learn your own; focus on the ones that resonate with you, do them in a way that you enjoy.</p>
            
            <p>In the survey below, you will respond to three short-answer questions of your choice. The recommender system will compare your answers to text from recovery programs and show you which may be the best fit. You can also set filters for price, coaching options, refundability, etc. Once you've narrowed it down, you can research your top programs on their websites to make your final choice.</p>
            
            <p><a href="/survey" style="color: var(--primary-green); font-weight: bold;">Click here to begin the survey.</a> I wish you the best!</p>
        </section>
      </div>  
        
    <footer>
        <p>Disclaimer: The content in and throughout this website is for informational and educational purposes only, and is not a substitute for medical diagnosis, treatment or advice.</p>
        <p><a href = "/privacy" style="color: var(--light-green);">Privacy Statement</a> | <a href = "/contact" style="color: var(--light-green);">Contact</a></p>
    </footer>
    
</body>
</html>