<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Recovery Story</title>
  <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
   <header>
        <div class="wave-container">
            <h1>ME/CFS Program Finder</h1>
            <p class="tagline"></p>
            <div class="wave"></div>
        </div>
    </header>
    
    <nav class="main-nav">
        <div class="nav-container">
            <a href="/" class="nav-link">Home</a>
            <a href="/about" class="nav-link">About</a>
            <a href="/brain-retraining" class="nav-link">What is Brain Retraining</a>
            <a href="/my-story" class="nav-link">My Recovery Story</a>
            <a href="/contact" class="nav-link">Contact</a>
            <a href="/survey" class="nav-link start-survey">Start Survey</a>
        </div>
    </nav>
  <div class="container">
    <section class="intro">
    <h2>My Recovery Story</h2>
    <p>I had chronic fatigue syndrome (ME/CFS) for 3 years. Before ME/CFS, I was in reasonably good shape; most of my favorite 
      things to do were active, like hiking and volleyball. I was most of the way through my PhD in Physics in January 2022 
      when I contracted Epstein-Barr virus and mono. The fatigue just never left, and when I exerted myself too much, I would 
      crash for weeks. The fear of the crash was almost as bad as the crashes themselves, but not quite. During my worst crashes, 
      I would be aware of people talking around me, and I just couldn’t process anything they said. It was terrifying, isolating, 
      and soul-crushing. That brain fog, fatigue, and post-exertional malaise were the worst of my symptoms, but I also had IBS 
      and mild headaches.</p>
    <p>Fortunately for me, my CFS was mild (if you’re not familiar with ME/CFS, that tells you a little about how bad moderate 
      and severe cases can get). I was able to do things for a couple of hours a day, so I managed to eventually finish my 
      dissertation (link <a href="https://escholarship.org/uc/item/2w87r64g#author" target="_blank" style="color: var(--primary-green);">here</a>, if you’re interested) and graduate. At that point, my focus shifted to my health (and however 
      much part-time care of my baby daughter I could manage). I had a few advantages in this pursuit. In addition to a solid 
      foundation of family support, I had a close friend who had already tried more established medical routes and found no 
      solutions, even while working with a specialist. That helped eliminate that particular path for me early on. The second 
      advantage was my training in scientific research, which helped me approach recovery strategies pragmatically. My training gave me 
      an appreciation for not only all we know in science, but also for how much we still don't know and have yet to learn. 
      In research, you live in a space of "maybe this will work, maybe it won't; let's test it out." Therefore, I approached my recovery with the same attitude I would a research 
      project, being realistic about what is known and not known, but believing that I could learn something. I was not willing 
      to wait for peer-reviewed studies to come out that guaranteed a solution, I would carefully test various methods. However, 
      just as the medical establishment could claim no solution (as of the time of this writing), many different sources claimed 
      to be the solution, and so I wanted to select what seemed to have the most promise with the least risk to my well-being. 
      I started about as adjacent to traditional medicine as you can get, working with a functional medicine doctor. We did a 
      bunch of tests, found out that my cortisol levels were low and that I had some parasitic gut infections (bacterial and fungal).
      Taking low-dosage hydrocortisone seemed to help, and treating the gut infections helped at first, but I continued to 
      experience crashes. It felt like, if the gut infection was the problem and we treated it, why did I crash again? Am I 
      just going to keep chasing every peripheral problem forever? At that point, I started looking for other approaches and 
      ways people had recovered, and I discovered Raelan Agle’s YouTube channel where I heard about brain retraining for the 
      first time.</p>
      <p>I was skeptical, but enough people mentioned it as critical to their recovery for me to investigate further. After 
        looking into it, it didn’t seem too preposterous; it made sense that learning how to better manage and reduce stress could be helpful. 
        It seemed like it could give me some good tools for the personal growth I wanted anyway, and if it also had a chance of 
        helping me recover, then it was worth a shot.</p>
      <p>This isn’t the case for everyone, but I noticed an almost immediate impact. The brain retraining exercises were 
        effective at helping me let go of stress and relax. And as I continued practicing, I started to notice greater mental 
        clarity and less fatigue. It was a slow process, but I started to hit milestones, doing things I hadn’t been able to 
        do in years, like moderate hikes. Figuring out how to pace myself with my expanding capacity was tricky, but I tried to 
        take it a step at a time. Eventually, I was able to play competitive volleyball for hours at a time, and backpack in 
        the mountains. At that point, I couldn’t honestly say I had ME/CFS anymore; I had no post-exertional malaise after 
        these activities, no headaches or brain fog, and even my IBS was mostly gone. I feel immensely grateful for my recovery.</p>
      <p>For those who recover, the time it takes varies widely. From starting brain retraining to the time I considered myself 
        fully recovered, it was about six months. According to my knowledge, that’s on the faster side, though definitely not 
        unheard of. Each person’s experience with this illness is different, and so it's rarely productive to expect a certain timeline.</p>
      <p>I want to note that I tried a lot of different things before trying brain retraining, with varying degrees of 
        helpfulness, including the things I mentioned above. Other things I tried included improving my diet (e.g., less processed 
        foods, dairy, and simple carbs like sugar, and more whole grains and vegetables), which was helpful, and taking a wide 
        variety of supplements, which had little noticeable effect. I never tried brain retraining without doing these things first, 
        so I can’t say with total confidence whether they were necessary to my recovery or not. What I know is that brain retraining 
        was the turning point for me and the impetus for my full recovery.</p>
      <p>It’s because of this and reports from others who recovered that I made this site. I hope it helps you find your path to 
        improved health, and even recovery. When that day comes for you, I would love to hear about it!</p>
    </section>
    </div>
    <footer>
        <p>Disclaimer: The content in and throughout this website is for informational and educational purposes only, and is not a substitute for medical diagnosis, treatment or advice.</p>
    </footer>
</body>
</html>