<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Program Text Sources</title>
  <link rel="stylesheet" href="/static/styles.css">
  <link rel="icon" type="image/png" href="/static/favicon.png">
</head>
<body>
  <header>
        <div class="wave-container">
            <h1>ME/CFS Program Finder</h1>
            <p class="tagline"></p>
            <div class="wave"></div>
        </div>
    </header>
    
    <nav class="main-nav">
        <div class="nav-container">
            <a href="/" class="nav-link">Home</a>
            <a href="/about" class="nav-link">About</a>
            <a href="/brain-retraining" class="nav-link">What is Brain Retraining</a>
            <a href="/my-story" class="nav-link">My Recovery Story</a>
            <a href="/contact" class="nav-link">Contact</a>
            <a href="/survey" class="nav-link start-survey">Start Program Finder</a>
        </div>
    </nav>
  <div class="container">
        <section class="intro">
            <h2>Full List of Program and Text Sources</h2>
            <p>If you are a program creator and would like changes made to which text is included for your program, or if you just have questions, 
                please <a href = "/contact" style="color: var(--primary-green);">reach out to me!</a></p>
            
            <h4>ANS Rewire</h4>
            <li><a href = "https://ansrewire.com/program-details/" style="color: var(--primary-green);">https://ansrewire.com/program-details/</a></li>
            <li><a href = "https://cfsunravelled.com/neuroplasticity-recovery-from-fibromyalgia-mecfs/" style="color: var(--primary-green);">https://cfsunravelled.com/neuroplasticity-recovery-from-fibromyalgia-mecfs/</a></li>
            <li><a href = "https://ansrewire.com/about/" style="color: var(--primary-green);">https://ansrewire.com/about/</a></li>
            <li><a href = "https://ansrewire.com/faq/" style="color: var(--primary-green);">https://ansrewire.com/faq/</a></li>
              <br>

            <h4>Be Your Own Medicine</h4>
            <li><a href = "https://www.rebeccatolin.com/blog/how-to-heal-and-thrive" style="color: var(--primary-green);">https://www.rebeccatolin.com/blog/how-to-heal-and-thrive</a></li>
            <li><a href = "https://www.rebeccatolin.com/course" style="color: var(--primary-green);">https://www.rebeccatolin.com/course</a></li>
            <li><a href = "https://www.rebeccatolin.com/blog/steps-to-overcome-chronic-pain-and-fatigue" style="color: var(--primary-green);">https://www.rebeccatolin.com/blog/steps-to-overcome-chronic-pain-and-fatigue</a></li>
            <br>

            <h4>Brain Retraining 101</h4>
            <li><a href = "https://raelan-agle-s-school1.teachable.com/p/brain_retraining_101" style="color: var(--primary-green);">https://raelan-agle-s-school1.teachable.com/p/brain_retraining_101</a></li>
            <li><a href = "https://raelanagle.com/about-me/" style="color: var(--primary-green);">https://raelanagle.com/about-me/</a></li>
            <br>

            <h4>CFS Recovery</h4>
            <li><a href= "https://cfsrecovery.com/what-is-a-thriver/" style="color: var(--primary-green);">https://cfsrecovery.com/what-is-a-thriver/</a></li>
            <li><a href= "https://cfsrecovery.com/" style="color: var(--primary-green);">https://cfsrecovery.com/</a></li>
            <li><a href= "https://cfsrecovery.com/overcoming-chronic-fatigue-syndrome-a-journey-to-health" style="color: var(--primary-green);">https://cfsrecovery.com/overcoming-chronic-fatigue-syndrome-a-journey-to-health/</a></li>
            <li><a href = "https://cfsrecovery.com/explore-all-solutions/" style="color: var(--primary-green);">https://cfsrecovery.com/explore-all-solutions/</a></li>
            <br>

            <h4>Somia: Heal</h4>
            <li><a href = "https://somiainternational.com/heal/" style="color: var(--primary-green);">https://somiainternational.com/heal/</a></li>
            <br>

            <!--
            <h4>DNRS</h4>
            <li><a href = "https://retrainingthebrain.com/news/the-impact-of-positive-emotions-on-health-and-healing/" style="color: var(--primary-green);">https://retrainingthebrain.com/news/the-impact-of-positive-emotions-on-health-and-healing/</a></li>
            <li><a href = "https://retrainingthebrain.com/news/navigating-the-dnrs-program-a-step-by-step-guide-for-beginners/" style="color: var(--primary-green);">https://retrainingthebrain.com/news/navigating-the-dnrs-program-a-step-by-step-guide-for-beginners/</a></li>
              <br>
            -->

            <h4>Freeme</h4>
            <li><a href="https://freemehealth.com/" style="color: var(--primary-green);">https://freemehealth.com/</a></li>
            <li><a href="https://freemehealth.com/about" style="color: var(--primary-green);">https://freemehealth.com/about</a></li>
            <li><a href="https://www.instagram.com/the.freeme.app/" style="color: var(--primary-green);">https://www.instagram.com/the.freeme.app/</a></li>
            <br>

            <h4>Gupta</h4>
            <li><a href = "https://guptaprogram.com/the-program/what-is-neuroplasticity/" style="color: var(--primary-green);">https://guptaprogram.com/the-program/what-is-neuroplasticity/</a></li>
            <li><a href = "https://guptaprogram.com/neuroplasticity-and-health-how-changing-your-brain-can-change-your-life/" style="color: var(--primary-green);">https://guptaprogram.com/neuroplasticity-and-health-how-changing-your-brain-can-change-your-life/</a></li>
            <li><a href = "https://guptaprogram.com/dont-treat-yourself-like-a-machine/" style="color: var(--primary-green);">https://guptaprogram.com/dont-treat-yourself-like-a-machine/</a></li>
            <li><a href = "https://guptaprogram.com/do-this-or-your-mind-tends-to-default-to-worry/" style="color: var(--primary-green);">https://guptaprogram.com/do-this-or-your-mind-tends-to-default-to-worry/</a></li>
            <li><a href = "https://guptaprogram.com/fi/you-have-permission-to-rest/" style="color: var(--primary-green);">https://guptaprogram.com/fi/you-have-permission-to-rest/</a></li>
            <li><a href = "https://guptaprogram.com/the-importance-of-self-compassion-along-your-journey/" style="color: var(--primary-green);">https://guptaprogram.com/the-importance-of-self-compassion-along-your-journey/</a></li>
            <li> Responses from the Gupta AI avatar.</li>
              <br>

            <h4>Haven</h4>
            <li><a href = "https://yourgratefulguide.com/join-haven/learn-more" style="color: var(--primary-green);">https://yourgratefulguide.com/join-haven/learn-more</a></li>
            <li><a href = "https://yourgratefulguide.com/About" style="color: var(--primary-green);">https://yourgratefulguide.com/About</a></li>
            <li><a href = "https://www.facebook.com/photo?fbid=1236107968520901&set=pcb.1236108035187561" style="color: var(--primary-green);">https://www.facebook.com/photo?fbid=1236107968520901&set=pcb.1236108035187561</a></li>
            <br>

            <h4>Rewire Your Brain</h4>
            <li><a href = "https://www.eleanorsteinmd.ca/ryb" style="color: var(--primary-green);">https://www.eleanorsteinmd.ca/ryb</a></li>
            <li><a href = "https://www.eleanorsteinmd.ca/courses" style="color: var(--primary-green);">https://www.eleanorsteinmd.ca/courses</a></li>
            <li><a href = "https://www.eleanorsteinmd.ca/blog/acceptance" style="color: var(--primary-green);">https://www.eleanorsteinmd.ca/blog/acceptance</a></li>
            <li><a href = "https://www.eleanorsteinmd.ca/blog/recover" style="color: var(--primary-green);">https://www.eleanorsteinmd.ca/blog/recover</a></li>
              <br>

            <h4>MBody Community</h4>
            <li><a href = "https://www.mbodycommunity.com/" style="color: var(--primary-green);">https://www.mbodycommunity.com/</a></li>
            <li><a href="https://www.mbodycommunity.com/blog/whatispainreprocessingtherapy%3F" style="color: var(--primary-green);">https://www.mbodycommunity.com/blog/whatispainreprocessingtherapy%3F</a></li>
            <li><a href="https://www.mbodycommunity.com/blog/brainretraining" style="color: var(--primary-green);">https://www.mbodycommunity.com/blog/brainretraining</a></li>


            <h4>Mickel Therapy</h4>
            <li><a href = "https://www.mickeltherapy.com/" style="color: var(--primary-green);">https://www.mickeltherapy.com/</a></li>
            <li><a href = "https://www.mickeltherapy.com/about" style="color: var(--primary-green);">https://www.mickeltherapy.com/about</a></li>
            <li><a href = "https://www.mickeltherapy.com/home" style="color: var(--primary-green);">https://www.mickeltherapy.com/home</a></li>
            <li><a href = "https://www.mickeltherapy.com/blog/th-hypothalamus-is-not-broken-it-s-overwhelmed" style="color: var(--primary-green);">https://www.mickeltherapy.com/blog/th-hypothalamus-is-not-broken-it-s-overwhelmed</a></li>
            <li><a href = "https://www.mickeltherapy.com/blog/2" style="color: var(--primary-green);">https://www.mickeltherapy.com/blog/2</a></li>
            <li>Personal communication with Dr. Mickel.</li>
            <br>

            <h4>Nervous System Rewire</h4>
            <li><a href = "https://nervoussystemrewire.mykajabi.com/" style="color: var(--primary-green);">https://nervoussystemrewire.mykajabi.com/</a></li>
            <li><a href = "https://nervoussystemrewire.mykajabi.com/blog/start-that-day-right" style="color: var(--primary-green);">https://nervoussystemrewire.mykajabi.com/blog/start-that-day-right</a></li>
            <li><a href = "https://nervoussystemrewire.mykajabi.com/blog/do-the-words-you-say-shape-who-you-are-today" style="color: var(--primary-green);">https://nervoussystemrewire.mykajabi.com/blog/do-the-words-you-say-shape-who-you-are-today</a></li>
            <br>

            <h4>Primal Trust</h4>
            <li><a href = "https://www.primaltrust.org/" style="color: var(--primary-green);">https://www.primaltrust.org/</a></li>
            <li>The free e-book, <a href = "https://www.primaltrust.org/newsletter-how-healing-happens-2025/" style="color: var(--primary-green);">How Healing Happens</a> by Dr. Cathleen King (creator of the Primal Trust program)</li>
            <br>

            <h4>re-origin</h4>
            <li><a href = "https://www.re-origin.com/what-is-neuroplasticity" style="color: var(--primary-green);">https://www.re-origin.com/what-is-neuroplasticity</a></li>
            <li><a href = "https://www.re-origin.com/" style="color: var(--primary-green);">https://www.re-origin.com/</a></li>
            <li><a href = "https://www.re-origin.com/articles/what-is-acceptance-practical-approaches" style="color: var(--primary-green);">https://www.re-origin.com/articles/what-is-acceptance-practical-approaches</a></li>
            <br>

            <!--<h4>Release CFS (the alignment program)</h4>
            <li><a href = "https://releasecfs.com/release-program/" style="color: var(--primary-green);">https://releasecfs.com/release-program/</a></li>
            <li><a href = "https://releasecfs.com/healing-approach/" style="color: var(--primary-green);">https://releasecfs.com/healing-approach/</a></li>
            <br>-->

            <h4>Reset to Thrive</h4>
            <li><a href = "https://resettothrive.co.uk/courses/reset-to-thrive-programme-copy" style="color: var(--primary-green);">https://resettothrive.co.uk/courses/reset-to-thrive-programme-copy</a></li>
            <li><a href="https://resettothrive.co.uk/blog/cultivating-self-care-and-compassion-the-path-to-embracing-your-self-worth" style="color: var(--primary-green);">https://resettothrive.co.uk/blog/cultivating-self-care-and-compassion-the-path-to-embracing-your-self-worth</a></li>

            <h4>Sage Health and Wellness: Live Well</h4>
            <li><a href="https://www.sagehealthandwellness.co.uk/" style="color: var(--primary-green);">https://www.sagehealthandwellness.co.uk/</a></li>
            <li><a href="https://www.sagehealthandwellness.co.uk/about" style="color: var(--primary-green);">https://www.sagehealthandwellness.co.uk/about</a></li>
            <li><a href="https://www.sagehealthandwellness.co.uk/live-well" style="color: var(--primary-green);">https://www.sagehealthandwellness.co.uk/live-well</a></li>
            <li><a href="https://www.sagehealthandwellness.co.uk/faqs" style="color: var(--primary-green);">https://www.sagehealthandwellness.co.uk/faqs</a></li>
            <li><a href="https://www.instagram.com/sage_healthandwellness/" style="color: var(--primary-green);">https://www.instagram.com/sage_healthandwellness/</a></li>
            <br>

            <h4>The RESET Program</h4>
            <li><a href = "https://www.alexhoward.com/decodeyourfatigue/reset" style="color: var(--primary-green);">https://www.alexhoward.com/decodeyourfatigue/reset</a></li>
            <li><a href = "https://www.alexhoward.com/about-ah" style="color: var(--primary-green);">https://www.alexhoward.com/about-ah</a></li>
            <br>

            <h4>The Edison Effect</h4>
            <li><a href = "https://www.anjgranieri.com/about" style="color: var(--primary-green);">https://www.anjgranieri.com/about</a></li>
            <li><a href = "https://www.anjgranieri.com/blog/the-explanation-of-mecfs-you-need-to-hear" style="color: var(--primary-green);">https://www.anjgranieri.com/blog/the-explanation-of-mecfs-you-need-to-hear</a></li>
            <li>The free e-book, <a href = "https://www.anjgranieri.com/access-my-free-ebook" style="color: var(--primary-green);">The Four Pillars of Recovery</a> by Anj Granieri (creator of The Edison Effect program).</li>
            <br>

            <h4>Vital-Side: Rewire</h4>
            <li><a href = "https://vital-side.com/pages/vital-side-membership" style="color: var(--primary-green);">https://vital-side.com/pages/vital-side-membership</a></li>
            <li><a href = "https://vital-side.com/blogs/news/essential-guide-to-nervous-system-regulation" style="color: var(--primary-green);">https://vital-side.com/blogs/news/essential-guide-to-nervous-system-regulation</a></li>
            <br>

            <p></p>

        </section>
  </div>  
    <footer>
        <p>Disclaimer: The content in and throughout this website is for informational and educational purposes only, and is not a substitute for medical diagnosis, treatment or advice.</p>
        <p><a href = "/privacy" style="color: var(--light-green);">Privacy Statement</a> | <a href = "/contact" style="color: var(--light-green);">Contact</a></p>
        <p>© 2025 Kendall Berry</p>
      </footer>

</body>
</html>